[Unit]
Description=bftd service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=no
#RestartSec=1
User=ubuntu
Environment=RUST_LOG=bftd=info
WorkingDirectory=/home/ubuntu/bftd
ExecStart=/home/ubuntu/bftd/target/release/bftd run /home/ubuntu/data/ --load-gen 512
