[Unit]
Description=bftd service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=no
#RestartSec=1
User=root
Environment=RUST_LOG=bftd=info,axum::rejection=trace
WorkingDirectory=/root/bftd
ExecStart=/root/bftd/target/release/bftd run /root/data/
LimitNOFILE=65536
